<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
	<% @cart.line_items.each do |item| %>
  <% if item.quantity > 1 %>
	 <li> <%= item.product.title %>: <%= item.product.price %> * <%= item.quantity %></li>
   <% else %>
   <li> <%= item.product.title %>: <%= item.product.price %> </li>
	 <% end %>
   <% end %>
</ul>
 <p>Total price: <%=@total_price %> </p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
 